* {
    margin: 0px;
    /* resetting the default values that the browser may have for margin, padding and border*/
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background: none;

}

.logo {
    font-size: 35px;
    color: black;
    margin-left: 10px;
}

a {
    text-decoration: none;

    /*Selecting all of our links and taking away the underline that each link has by default*/
}

a:hover {
    text-decoration: underline;
    /*Selecting all of our links so when the cursor hovers over the text, underlining will appear*/
}


.logo:hover {
    text-decoration: none;
    /*selecting the main logo and taking away the underlining so you only get the 
    mouse cursor when hovering over the logo*/
}

.logo:hover>h1 {
    color: #747474;
    /* I want the logo (text) to turn to this colour when the mouse hovers over it*/
}

.active {
    font-weight: bold;
    /*Making the current page the user is on bold in the nav menu*/
}


.container-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
    /*adding a background to our header*/
}

.mobileNavBTN {
    font-size: 35px;
    /* Making the nav button bigger and positioning it */
    padding: 5px;
    margin-left: 67px;
    background: transparent;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;

}

.menu>li {
    padding: 10px 20px;
}


.hide {
    display: none;
}

.socialMediaLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 55px;
}

.socialMediaLinks>li {
    padding: 25px 15px;
}

.socialMediaLinks>li>a {
    color: #fff;
    padding: 10px 20px;
}

.socialMediaLinks>li>a>i {
    color: #fff;
    text-decoration: none;
}

/*styling my tagline*/
#tagline {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline solid #d39495;
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    color: #555;

}

#section1 {
    /*section 1 of our splitscreen5050. I'm specifying that we are using display flex and flex direction row
    which is why our section 1 img and section 1 p (paragraphs) will position  in a row taking up 50% of the screen each*/
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#section1 img {
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
    margin-left: 40px;
}

#section1>p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

#section2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    /*using row reverse so that the picture and text swap places for a more interesting home page*/
    padding-top: 80px;
}

#section2 img {
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}

#section2>p {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

/*Image slider starts here*/
#slider {
    overflow: hidden;
    /*if any of my images overflow out of my slider container it will be hidden*/
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    /*It will take 20s for the slider to slide through all of the images but it is an infinite loop*/
}

#slider figure img {
    width: 20%;
    /* 100% divided by 5 images = 20% so we only see one image at a time without them overlapping*/
    float: left;
}

@keyframes slider {

    /*0% is the beginning of the animation, 100% is when the animation is complete. I'm using left because my slider images will 
    slide left*/
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

footer {
    width: 100%;
    background-color: #A97576;
    font-family: 'Raleway', sans-serif;
    height: 180px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;

}

/* Selecting the text within my footer*/
footer>span {
    color: #fff;
    font-size: 22px;
}


/*Advertisement styling starts here*/
.offer {
    /*adding a gradient background to this small container so that the advert is different from the rest of the page*/
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .recycle-img {
    width: 400px;

}


small {
    color: grey;
}

.offer .col-2>h1 {

    font-size: 35px;
    line-height: 30px;
    margin: 18px 0;
}



/*go to the top of the page button*/

html {
    scroll-behavior: smooth;
    /* for a smooth scroll rather than the page just jumping back to the top*/
}

.go-top-btn {
    position: fixed;
    /*keep a fixed position on the page while the user scrolls so its always visible*/
    width: 50px;
    height: 50px;
    background: #d39495;
    /*colour of the square holding the arrow*/
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    /*colour of the arrow*/
    font-size: 22px;
}


/*Making the embedded YouTube video responsive*/
.iframe-container-main {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container-main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 65px;
}


/* Media query for 900px and below */
@media only screen and (max-width: 900px) {
    header {
        height: 90px;
    }

    header>h1 {
        padding-left: 20px;
        /* pushes the Yogan logo further to the right for this smaller sized screen*/
    }

    .splitscreen5050 {
        flex-direction: column;
        /*stacks the images and text rather than displaying them in a row*/
    }

    #section1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        /*stacks the images and text rather than displaying them in a row*/
    }

    #section1>p {
        /*Centering the text and adjusting the positioning for this screen size*/
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        text-align: center;
    }

    #section2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #section2>p {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        text-align: center;
    }

    .tagline {
        font-size: 28px;
        margin: 30px 0px;
    }

    .mainText {
        font-size: 12px;
    }

    footer {
        height: auto;
        padding-bottom: 25px;
    }

    footer>span {
        font-size: 22px;
    }

    .socialMediaLinks>li>a>i {

        font-size: 55px;
    }
}


@media only screen and (max-width: 600px) {
    footer>span {
        font-size: 20px;
    }

    #tagline {
        margin-bottom: 20px;
        font-size: 55px;
    }

    .splitscreen5050 {
        flex-direction: column-reverse;
    }

    #section1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    #section1>p {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        text-align: center;
    }

    #section2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    #section2>p {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        text-align: center;
    }

    footer {
        height: auto;
        padding-bottom: 25px;
    }

    .socialMediaLinks>li>a>i {

        font-size: 50px;
    }

    a {
        font-size: 22px;
    }

    .menu {
        display: block;
        /*this will stack our menu elements on top of each other*/
        position: absolute;
        z-index: 100;
        /*so that the menu appears in front of my image slider*/
        top: 90px;
        left: 0;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.9);
        /* alpha takes care of the opacity which is 0.9 so there is some differentiation
        between the menu and the web page.*/
    }

    .menu>li {
        text-align: center;
        border-bottom: 1px solid #ccc;
        /* Seperates our menu elements */
        padding: 50px 0px;
        /* adjusting the size of the menu elements */
    }

    .hide {
        display: none;
    }

    .logo>h1{
        margin-left: 20px;
    }

}